In [1]:
import glob
import pandas as pd

In [3]:
clean_data_trip = pd.concat([pd.read_csv(f) for f in glob.glob('raw_data/CitiBikeTripHistory/*.csv')], ignore_index = True)

C:\Users\johnf\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

In [5]:
clean_data_trip.head()

,Bike ID,Birth Year,End Station ID,End Station Latitude,End Station Longitude,End Station Name,Gender,Start Station ID,Start Station Latitude,Start Station Longitude,...,end station name,gender,start station id,start station latitude,start station longitude,start station name,starttime,stoptime,tripduration,usertype
0,24575.0,1983.0,3185.0,40.717733,-74.043845,City Hall,1.0,3276.0,40.714584,-74.042817,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,24723.0,1978.0,3198.0,40.748716,-74.040443,Heights Elevator,1.0,3183.0,40.716247,-74.033459,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,24620.0,1989.0,3211.0,40.721525,-74.046305,Newark Ave,1.0,3183.0,40.716247,-74.033459,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,24668.0,1961.0,3271.0,40.692640,-74.088012,Danforth Light Rail,1.0,3194.0,40.725340,-74.067622,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,26167.0,1993.0,3203.0,40.727596,-74.044247,Hamilton Park,1.0,3183.0,40.716247,-74.033459,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
clean_data_trip.count()

Bike ID                     39153
Birth Year                  37448
End Station ID              39153
End Station Latitude        39153
End Station Longitude       39153
End Station Name            39153
Gender                      39153
Start Station ID            39153
Start Station Latitude      39153
Start Station Longitude     39153
Start Station Name          39153
Start Time                  39153
Stop Time                   39153
Trip Duration               39153
User Type                   39036
bikeid                     255775
birth year                 237865
end station id             255775
end station latitude       255775
end station longitude      255775
end station name           255775
gender                     255775
start station id           255775
start station latitude     255775
start station longitude    255775
start station name         255775
starttime                  255775
stoptime                   255775
tripduration               255775
usertype                   255775
dtype: int64

In [7]:
clean_data_trip.to_csv("clean_data/2017data.csv")